
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contactus-iww {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  padding: 10.2rem 10.6rem 17.2rem 10.2rem;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;

  .contactusaddress-z8m {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 9.1rem;

    .contact-us-KB3 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 2.7rem 5.6rem 0rem 0rem;
      font-size: 4.8rem;
      font-weight: 700;
    }
    .line-1-cA9 {
      width: 0rem;
      height: 0.8rem;
      background-color: #595af1;
      flex-shrink: 0;
      margin-right: 4.9rem;
    }
    .abouttext-8PP {
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      font-weight: 800;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.2102272797;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      align-items: baseline;
      margin-top: 3.5rem;

      .abouttext-8PP-sub-0 {
        font-weight: 600;
        line-height: 1.52;
        color: #848181;
        font-family: Titillium Web, 'Source Sans Pro';
        font-size: 2.5rem;
      }
      .abouttext-8PP-sub-1 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.52;
        color: #000000;
        font-family: Titillium Web, 'Source Sans Pro';
      }
      .abouttext-8PP-sub-2 {
        font-weight: 600;
        line-height: 1.52;
        color: #948080;
        font-family: Titillium Web, 'Source Sans Pro';
        font-size: 2.5rem;
      }
    }
  }
  .auto-group-3bhf-oQy {
    height: 57.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 7.8rem;
    width: calc(100% - 7.8rem);

    .contactusform-vkV {
      flex-shrink: 0;
      margin-right: 8rem;
      width: 58.5rem;
      height: 100%;
      row-gap: 2.8rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.6rem;

      .namearea-qsT {
        width: 100%;
        height: 6.3rem;
        background-color: #d9d9d9;
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
      .mailarea-mm7 {
        background-color: #d9d9d9;
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 100%;
        height: 6.3rem;
      }
      .messagearea-Vx1 {
        flex-shrink: 0;
        width: 100%;
        height: 30.1rem;
        background-color: #d9d9d9;
        border-radius: 0.6rem;
      }
      .submitbutton-qW5 {
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 19.8rem;
        height: 6.2rem;
        background-color: #d9d9d9;
      }
    }
    .contactusdetails-y6V {
      width: 48.9rem;
      flex-shrink: 0;

      .contact-details-WMK {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        align-items: baseline;
        margin-bottom: 4.5rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .contact-details-WMK-sub-0 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .contact-details-WMK-sub-1 {
        }
      }
      .auto-group-f4bw-hgh {
        margin: 0rem 0rem 3.928rem 0.3rem;
        width: calc(100% - 0.3rem);
        height: 9.4723rem;
        display: flex;
        align-items: center;

        .emailid-RMo {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:38:9');
          flex-shrink: 0;
          margin-right: 4.1rem;
          box-sizing: border-box;
          padding: 1.607rem 2.461rem 2.368rem 2.207rem;
          height: 100%;
          background-size: cover;

          .icon-envelope-open-text-Ljf {
            width: 5.4319rem;
            height: 5.4973rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .mockingbirdgmailcom-Eq3 {
          font-weight: 700;
          flex-shrink: 0;
          font-family: Titillium Web, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin-bottom: 0.9723rem;
          font-size: 3.2rem;
          line-height: 1.52;
          color: #000000;

          .mockingbirdgmailcom-Eq3-sub-0 {
            font-family: Titillium Web, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.52;
            color: #000000;
          }
          .mockingbirdgmailcom-Eq3-sub-1 {
          }
        }
      }
      .auto-group-3nh3-SgD {
        display: flex;
        align-items: center;
        margin: 0rem 14.6rem 3.928rem 0.3rem;
        width: calc(100% - 14.9rem);

        .telephonenodetails-Yz9 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.1rem;
          width: 10.1rem;
          height: 9.4723rem;
          position: relative;
          object-fit: contain;
        }
        .item-02200321000-sWd {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.52;
          color: #000000;
          font-family: Titillium Web, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.3723rem;
        }
      }
      .auto-group-i7q7-BGR {
        display: flex;
        align-items: center;
        margin: 0rem 10.3rem 0rem 0.3rem;
        width: calc(100% - 10.6rem);

        .mobilenodetails-JM3 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.1rem;
          width: 10.1rem;
          height: 9.4723rem;
          position: relative;
          object-fit: contain;
        }
        .item-91-9832454520-csX {
          flex-shrink: 0;
          margin-top: 0.0277rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.52;
          color: #000000;
          font-family: Titillium Web, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
