
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.experts-yjK {
  box-sizing: border-box;
  padding: 8.8rem 12.6rem 22.7rem 10.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .expertsheader-Hzu {
    margin: 0rem 4.5rem 7.8rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .experts-RrD {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 1.4rem 6.1rem 0rem 0rem;
      font-size: 4.8rem;
      font-weight: 700;
    }
    .line-1-Yvq {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.1rem;
      width: 0.2rem;
      height: 12.7rem;
      object-fit: contain;
    }
    .expertstext-VbB {
      margin-top: 1.3rem;
      font-weight: 600;
      color: #948080;
      flex-shrink: 0;
      font-family: Titillium Web, 'Source Sans Pro';
      max-width: 83.3rem;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.52;
    }
  }
  .expertsprofiles-cA1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-bxfs-xzZ {
      margin-bottom: 17.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .expert1profile-KaD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.7rem 6.8rem 0rem 0rem;
        height: 16rem;

        .expertpfp1-FTs {
          margin-right: 2.3rem;
          box-sizing: border-box;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:41:57');
          flex-shrink: 0;
          padding: 1.2rem 1.2rem 1.29rem 1.3rem;
          height: 100%;
          background-size: cover;
          background-position: center;

          .expert-1-1-am3 {
            border-radius: 26.4rem;
            width: 13.8rem;
            height: 13.5105rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .expert1bio-sVF {
          height: calc(100% - 1.3rem);
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;
          margin: 0.7rem 0rem 0.6rem 0rem;
          box-sizing: border-box;
          padding: 0.65rem 3.2rem;
          width: 38.6rem;

          .dr-george-a-beller-cardiologist-serenity-general-hospital-georgebellermdgmailcom-BF3 {
            line-height: 1.52;
            color: #000000;
            font-family: Titillium Web, 'Source Sans Pro';
            max-width: 27.2rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
      .expert2profile-32M {
        margin-bottom: 0.7rem;
        height: 16rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .expertpfp2-NaR {
          box-sizing: border-box;
          height: 100%;
          background-image: url('REPLACE_IMAGE:41:62');
          background-position: center;
          flex-shrink: 0;
          margin-right: 2.3rem;
          padding: 1rem 1.2rem 1rem 1.3rem;
          background-size: cover;
          background-repeat: no-repeat;

          .expert-2-1-hsb {
            object-fit: cover;
            vertical-align: top;
            border-radius: 14.95rem;
            width: 13.8rem;
            height: 14rem;
          }
        }
        .expert2bio-Rob {
          height: 14.6rem;
          position: relative;
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 38.6rem;

          .expert2-biorectangle-aRb {
            border-radius: 0.6rem;
            width: 38.6rem;
            height: 14.308rem;
            position: absolute;
            left: 0;
            top: 0.292rem;
            background-color: #d9d9d9;
          }
          .dr-victoria-carter-pulmonologists-horizon-general-hospital-victoriacartermdgmailcom-Hqo {
            position: absolute;
            top: 0.454rem;
            display: flex;
            font-family: Titillium Web, 'Source Sans Pro';
            font-weight: 600;
            line-height: 1.52;
            color: #000000;
            width: 27.9rem;
            height: 13.4rem;
            left: 2.7rem;
            font-size: 2.2rem;
          }
        }
      }
    }
    .auto-group-nz6m-Lp5 {
      flex-shrink: 0;
      width: 100%;
      height: 16rem;
      display: flex;
      align-items: center;

      .expert3profile-tah {
        flex-shrink: 0;
        margin-right: 6.8rem;
        height: 100%;
        display: flex;
        align-items: center;

        .expertpfp3-S6R {
          box-sizing: border-box;
          background-repeat: no-repeat;
          flex-shrink: 0;
          background-image: url('REPLACE_IMAGE:41:61');
          margin-right: 2.3rem;
          padding: 1.1rem 1.2rem 1.1rem 1.3rem;
          height: 100%;
          background-size: cover;
          background-position: center;

          .expert-3-1-xqT {
            object-fit: cover;
            vertical-align: top;
            border-radius: 11.75rem;
            width: 13.8rem;
            height: 13.8rem;
          }
        }
        .expert3-bio-VKb {
          margin: 0.7rem 0rem 0.6rem 0rem;
          box-sizing: border-box;
          padding: 0.65rem 3.2rem;
          width: 38.6rem;
          height: calc(100% - 1.3rem);
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .dr-mark-e-shaffrey-endocrinologists-harmony-wellness-hospital-markshaffreymdgmailcom-CE1 {
            line-height: 1.52;
            color: #000000;
            font-family: Titillium Web, 'Source Sans Pro';
            max-width: 28.1rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
      .expert4profile-fdP {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .expertpfp4-RcZ {
          box-sizing: border-box;
          background-size: cover;
          margin-right: 2.3rem;
          padding: 1rem 1.2rem 1.3rem 1.3rem;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:41:63');
          flex-shrink: 0;

          .expert-4-1-YBP {
            width: 13.8rem;
            height: 13.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 7.15rem;
          }
        }
        .expert4-bio-rSy {
          margin-bottom: 0.2rem;
          box-sizing: border-box;
          padding: 0.65rem 3.2rem;
          width: 38.6rem;
          height: 14.7rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .dr-olivia-bennett-neurologists-pinecrest-memorial-hospital-oliviabennettmdgmailcom-ATf {
            color: #000000;
            font-family: Titillium Web, 'Source Sans Pro';
            max-width: 27.8rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.52;
          }
        }
      }
    }
  }
}
