
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.remedyheart-pfw {
  padding: 3.1rem 2.21rem 11.9rem 1.7rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #ffffff;

  .group-13-LeH {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 3.172rem 3.384rem 0rem;
    width: calc(100% - 3.1723rem);
    display: flex;

    .weblogo-fgZ {
      padding: 1.361rem 1.746rem 1.786rem 1.843rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:93:6');
      flex-shrink: 0;
      margin: 0rem 0.873rem 0.216rem 0rem;
      box-sizing: border-box;

      .programmer-1-SKw {
        width: 4.8497rem;
        height: 4.2529rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-cumt-9k9 {
      width: 22.6063rem;
      height: 6.1701rem;
      position: relative;
      flex-shrink: 0;

      .diagno-69b {
        font-family: Do Hyeon, 'Source Sans Pro';
        width: 13.1rem;
        height: 6rem;
        position: absolute;
        top: 0;
        font-size: 4.8rem;
        left: 0;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
      }
      .sure-CCd {
        position: absolute;
        left: 12.9063rem;
        font-size: 4.8rem;
        line-height: 1.25;
        color: #595af1;
        font-family: Do Hyeon, 'Source Sans Pro';
        height: 6rem;
        top: 0.1701rem;
        font-weight: 400;
        white-space: nowrap;
        width: 9.7rem;
      }
    }
  }
  .group-15-h9P {
    margin: 0rem 0rem 3.6rem 0.6rem;
    width: calc(100% - 0.6rem);
    height: 6.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .remedy-for-heart-c1T {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.5rem;
      font-weight: 400;
      font-family: DM Serif Text, 'Source Sans Pro';
      color: #000000;
      margin: 0.1rem 0.5rem 0rem 0rem;
      text-align: center;
      line-height: 1.37;
    }
    .hdpicon-Jey {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:94:37');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.3rem 1.539rem 1.217rem 1.5rem;
      height: 100%;

      .icon-heart-dx9 {
        width: 3.0507rem;
        height: 3.5832rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .group-17-xDj {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 0.74rem 0rem 0.75rem;
    width: calc(100% - 1.4901rem);
    row-gap: 4rem;
    align-items: center;

    .follow-a-heart-healthy-diet-rich-in-fruits-vegetables-whole-grains-lean-proteins-and-low-fat-dairy-4Gm {
      max-width: 32.2rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      margin-right: 0.5rem;
      flex-shrink: 0;
      line-height: 1.25;
    }
    .engage-in-regular-physical-activity-aiming-for-at-least-30-minutes-most-days-of-the-week-WuT {
      margin-right: 0.9rem;
      max-width: 32.7rem;
      line-height: 1.25;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
    }
    .quit-smoking-and-avoid-exposure-to-secondhand-smoke-bvu {
      margin-left: 0.5rem;
      max-width: 29rem;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .take-prescribed-medications-as-directed-by-your-healthcare-provider-hU9 {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      flex-shrink: 0;
      margin-left: 0.5rem;
      text-align: center;
      font-family: Do Hyeon, 'Source Sans Pro';
      max-width: 29.5rem;
      font-size: 1.5rem;
    }
    .follow-your-healthcare-providers-advice-and-treatment-plan-diligently-oXB {
      max-width: 27.2rem;
      text-align: center;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 2.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .get-regular-check-ups-and-screenings-to-monitor-your-heart-health-JD3 {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      flex-shrink: 0;
      margin-left: 0.5rem;
      text-align: center;
      font-size: 1.5rem;
      max-width: 33.1rem;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .maintain-a-healthy-weight-and-limit-alcohol-intake-CZK {
      text-align: center;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 1.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
  }
}
