
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.remedydiabetes-UzZ {
  background-color: #ffffff;
  overflow: hidden;
  align-items: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3.2rem 3.25rem 12.2rem 2.65rem;

  .group-13-o1F {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0.583rem 3.084rem 0.35rem;
    width: calc(100% - 0.9333rem);
    display: flex;

    .weblogo-v5s {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:96:87');
      flex-shrink: 0;
      margin: 0rem 0.883rem 0.216rem 0rem;
      box-sizing: border-box;
      padding: 1.361rem 1.765rem 1.786rem 1.864rem;
      background-size: cover;

      .programmer-1-RoK {
        vertical-align: top;
        width: 4.9041rem;
        height: 4.2529rem;
        object-fit: cover;
      }
    }
    .auto-group-ttqr-9zD {
      width: 22.7509rem;
      height: 6.1701rem;
      position: relative;
      flex-shrink: 0;

      .diagno-hkq {
        left: 0;
        font-family: Do Hyeon, 'Source Sans Pro';
        width: 13.1rem;
        height: 6rem;
        position: absolute;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        top: 0;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .sure-DDP {
        line-height: 1.25;
        font-family: Do Hyeon, 'Source Sans Pro';
        left: 13.0509rem;
        top: 0.1701rem;
        position: absolute;
        font-size: 4.8rem;
        font-weight: 400;
        color: #595af1;
        white-space: nowrap;
        width: 9.7rem;
        height: 6rem;
      }
    }
  }
  .group-19-uru {
    margin: 0rem 2.262rem 3.899rem 2.75rem;
    width: calc(100% - 5.0115rem);
    height: 5.0014rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .remedy-for-diabetes-pys {
      font-family: DM Serif Text, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      margin: 0rem 0.6rem 0.101rem 0rem;
      line-height: 1.37;
    }
    .dpicon-vGD {
      box-sizing: border-box;
      padding: 0.874rem 0.854rem 0.665rem 0.712rem;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:96:106');
      flex-shrink: 0;

      .blood-test-1-FpH {
        width: 3.5228rem;
        height: 3.4625rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .group-18-z1B {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .follow-a-balanced-diet-rich-in-fruits-vegetables-whole-grains-lean-proteins-and-healthy-fats-while-limiting-refined-sugars-and-carbohydrates-vQd {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      text-align: center;
      font-size: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      max-width: 33rem;
    }
    .engage-in-regular-physical-activity-such-as-walking-swimming-or-cycling-for-at-least-30-minutes-most-days-of-the-week-ZiV {
      max-width: 31.1rem;
      font-size: 1.5rem;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 2.4rem 0.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .avoid-smoking-and-limit-alcohol-consumption-RVo {
      color: #000000;
      white-space: nowrap;
      margin-bottom: 3.2rem;
      text-align: center;
      line-height: 1.25;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .get-regular-check-ups-and-screenings-to-monitor-your-blood-sugar-levels-and-overall-health-jFb {
      margin-bottom: 3.8rem;
      max-width: 33.1rem;
      text-align: center;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .manage-stress-through-relaxation-techniques-like-deep-breathing-meditation-or-yoga-RPK {
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3rem;
      max-width: 30rem;
      text-align: center;
      font-size: 1.5rem;
    }
    .monitor-blood-sugar-levels-regularly-and-take-prescribed-medications-such-as-insulin-or-oral-medications-as-directed-by-your-healthcare-provider-uZP {
      max-width: 32.3rem;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0rem 0rem 4.3rem 0.2rem;
      text-align: center;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .stay-hydrated-by-drinking-plenty-of-water-throughout-the-day-xXf {
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      margin-left: 0.6rem;
      text-align: center;
      line-height: 1.25;
      flex-shrink: 0;
      max-width: 32.3rem;
    }
  }
}
