
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.remedylungs-ndK {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 3.2rem 2.95rem 12.5rem 2.95rem;
  width: 100%;

  .group-13-hkH {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0.883rem 3.284rem 0.05rem;
    width: calc(100% - 0.9333rem);

    .weblogo-2nZ {
      padding: 1.361rem 1.765rem 1.786rem 1.864rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:95:54');
      flex-shrink: 0;
      margin: 0rem 0.883rem 0.216rem 0rem;
      box-sizing: border-box;

      .programmer-1-8ah {
        width: 4.9041rem;
        height: 4.2529rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-lbzp-Tss {
      flex-shrink: 0;
      width: 22.7509rem;
      height: 6.1701rem;
      position: relative;

      .diagno-bz5 {
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 4.8rem;
        font-family: Do Hyeon, 'Source Sans Pro';
        width: 13.1rem;
        height: 6rem;
      }
      .sure-Wr9 {
        white-space: nowrap;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.25;
        width: 9.7rem;
        height: 6rem;
        position: absolute;
        left: 13.0509rem;
        top: 0.1701rem;
        color: #595af1;
        font-family: Do Hyeon, 'Source Sans Pro';
      }
    }
  }
  .group-16-QRj {
    flex-shrink: 0;
    margin: 0rem 0.886rem 4.2rem 0.05rem;
    width: calc(100% - 0.9361rem);
    height: 4.5rem;
    display: flex;
    align-items: center;

    .remedy-for-lungs-cancer-7L9 {
      font-size: 2.4rem;
      color: #000000;
      font-family: DM Serif Text, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.2rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.37;
    }
    .lcpicon-1wK {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:95:74');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.787rem 0.866rem 0.787rem 0.8rem;
      height: 100%;

      .cancer-1-9Gq {
        width: 3.0982rem;
        height: 2.9266rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .group-18-sid {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .quit-smoking-and-avoid-exposure-to-secondhand-smoke-and-other-carcinogens-DXb {
      margin: 0rem 0.6rem 2.9rem 0rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 29rem;
      text-align: center;
    }
    .follow-a-healthy-diet-rich-in-fruits-vegetables-and-whole-grains-to-support-overall-health-and-immune-function-HnM {
      max-width: 30.8rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-bottom: 3.7rem;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .exercise-regularly-to-improve-lung-function-and-overall-fitness-ZE5 {
      font-size: 1.5rem;
      max-width: 28.8rem;
      text-align: center;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.6rem 3rem 0rem;
      font-weight: 400;
    }
    .avoid-exposure-to-environmental-toxins-and-pollutants-such-as-asbestos-and-radon-39F {
      text-align: center;
      font-size: 1.5rem;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      max-width: 33.1rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .attend-regular-screenings-for-early-detection-and-treatment-imB {
      font-weight: 400;
      color: #000000;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.25;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.6rem 3.3rem 0rem;
      max-width: 30.2rem;
    }
    .follow-your-healthcare-providers-advice-and-treatment-plan-diligently-which-may-include-surgery-chemotherapy-radiation-therapy-Qtu {
      margin: 0rem 0.6rem 4.5rem 0rem;
      max-width: 32.1rem;
      text-align: center;
      font-size: 1.5rem;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .seek-support-from-healthcare-professionals-GRK {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
