
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.remedybrain-tumor-P4Z {
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  padding: 3.2rem 2.456rem 5.9rem 2.65rem;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;

  .group-13-JBX {
    flex-shrink: 0;
    margin: 0rem 1.377rem 2.884rem 0.35rem;
    width: calc(100% - 1.7273rem);
    display: flex;
    align-items: flex-end;

    .weblogo-DpH {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:96:115');
      flex-shrink: 0;
      margin: 0rem 0.883rem 0.216rem 0rem;
      box-sizing: border-box;
      padding: 1.361rem 1.765rem 1.786rem 1.864rem;

      .programmer-1-wEV {
        width: 4.9041rem;
        height: 4.2529rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-smzx-s89 {
      height: 6.1701rem;
      position: relative;
      flex-shrink: 0;
      width: 22.7509rem;

      .diagno-Qds {
        height: 6rem;
        position: absolute;
        font-size: 4.8rem;
        font-weight: 400;
        width: 13.1rem;
        left: 0;
        top: 0;
        line-height: 1.25;
        color: #000000;
        font-family: Do Hyeon, 'Source Sans Pro';
        white-space: nowrap;
      }
      .sure-XCh {
        width: 9.7rem;
        height: 6rem;
        position: absolute;
        left: 13.0509rem;
        font-size: 4.8rem;
        line-height: 1.25;
        color: #595af1;
        white-space: nowrap;
        top: 0.1701rem;
        font-weight: 400;
        font-family: Do Hyeon, 'Source Sans Pro';
      }
    }
  }
  .group-20-RJ5 {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 2.8rem 0.65rem;
    width: calc(100% - 0.65rem);
    height: 5.9rem;
    display: flex;

    .remedy-for-brain-tumor-Lfw {
      flex-shrink: 0;
      margin: 0rem 0.3rem 0.6rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      font-family: DM Serif Text, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      line-height: 1.37;
    }
    .btdicon-3qF {
      background-image: url('REPLACE_IMAGE:96:134');
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 1.063rem 1.004rem 1.2rem;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .brainstorm-1-1-Pu7 {
        width: 4.0815rem;
        height: 3.7958rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .group-18-XVX {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 0.794rem;

    .consult-with-a-healthcare-professional-for-proper-diagnosis-treatment-and-management-of-the-brain-tumor-sZP {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: 3.8rem;
      text-align: center;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 31.3rem;
    }
    .maintain-a-healthy-lifestyle-eat-a-balanced-diet-rich-in-fruits-vegetables-whole-grains-and-lean-proteins-regular-exercise-and-staying-hydrated-can-also-support-overall-health-9G1 {
      margin-bottom: 4.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
      max-width: 32.1rem;
      text-align: center;
      line-height: 1.25;
      flex-shrink: 0;
    }
    .manage-symptoms-follow-prescribed-medications-to-manage-symptoms-such-as-pain-seizures-or-headaches-physical-therapy-or-occupational-therapy-may-also-help-in-some-cases-bdo {
      text-align: center;
      flex-shrink: 0;
      margin: 0rem 0.2rem 3.9rem 0rem;
      max-width: 32.6rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Do Hyeon, 'Source Sans Pro';
    }
    .seek-emotional-support-dealing-with-a-brain-tumor-diagnosis-can-be-emotionally-challenging-seek-support-from-loved-ones-support-groups-or-mental-health-professionals-to-cope-with-stress-and-anxiety-Egm {
      max-width: 32rem;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.25;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 3.9rem 0.6rem;
      font-weight: 400;
      color: #000000;
    }
    .stay-informed-educate-yourself-about-the-condition-treatment-options-and-potential-side-effects-this-can-help-you-make-informed-decisions-and-actively-participate-in-your-care-fn5 {
      font-weight: 400;
      line-height: 1.25;
      font-family: Do Hyeon, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      max-width: 33.1rem;
      text-align: center;
      font-size: 1.5rem;
      color: #000000;
    }
    .pray-gods-bro-Krd {
      margin-right: 2.7rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      color: #eaeff5;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-family: Do Hyeon, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
