
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.explorebutton-9pH {
  box-sizing: border-box;
  padding: 13rem 3.3rem;
  width: 100%;
  height: 64rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.explorebutton-9pH .optionbutton-TKB {
  width: 100%;
  height: 100%;
  row-gap: 2.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.explorebutton-9pH .optionbutton-TKB .hdp-PTj {
  width: 100%;
  height: 7.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.52;
  color: #000000;
  font-family: Titillium Web, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #595af1;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.explorebutton-9pH .optionbutton-TKB .lcp-SS1 {
  width: 100%;
  height: 7.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.52;
  color: #000000;
  font-family: Titillium Web, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #595af1;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.explorebutton-9pH .optionbutton-TKB .dp-Wwf {
  width: 100%;
  height: 7.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.52;
  color: #000000;
  font-family: Titillium Web, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #595af1;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.explorebutton-9pH .optionbutton-TKB .btd-CZb {
  width: 100%;
  height: 7.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.52;
  color: #000000;
  font-family: Titillium Web, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #595af1;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
