<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Dieates</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do+Hyeon%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C900" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A900" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/diastyle.css') }}" />
</head>

<body>
    {% if label %}
    <div id="result">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>

                {% if label == 1 %}
                <h1> Your are more likely to have a Diabetes</h1>
                <p>
                <h3>Would you like to send precaution via sms</h3>
                </p>
                {% else %}
                <h1>You are less likely to have diabetes at this time.</h1>
                <p>
                <h3>Would you like to send precaution via sms</h3>
                </p>
                {% endif %}

                <div class="modal-buttons">

                    <button>Send SMS</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="dieates-rns">
        <div class="logotitle-bEf">
            <div class="weblogo-Li3">
                <img class="programmer-1-fkK" src="{{ url_for('static', filename='image/programmer.png') }}" />
            </div>
            <div class="title-1JP">
                <p class="diagno-9Qb">Diagno</p>
                <p class="sure-gQX">Sure</p>
            </div>
        </div>
        <p class="diabetes-prediction-R7D">Diabetes prediction</p>
    </div>
    <div class="form-container">
        <form id="enter" action="/dp_predict" method="post">
            <label>Gender: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="gen_male" name="gen" value="1" required>
            &nbsp;
            <span for="gen_male">Male</span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="gen_female" name="gen" value="0" required>
            &nbsp;
            <span for="gen_female">Female</span>
            <br><br>

            <label for="age">Age: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="number" id="age" name="age" required>
            <br><br>

            <label>Hypertension: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="hyper" name="hyper" value="1" required>
            &nbsp;
            <span for="hypertension">Yes</span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="hyper" name="hyper" value="0" required>
            &nbsp;
            <span for="hypertension">No</span>
            <br><br>

            <label>Heart Disease: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="hd" name="hd" value="1" required>
            &nbsp;
            <span for="heart_disease">Yes</span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" id="hd" name="hd" value="0" required>
            &nbsp;
            <span for="heart_disease">No</span>
            <br><br>

            <label for="smoking_history">Smoking History: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <select id="sh" name="sh" required>
                <option value="">Select</option>
                <option value="0">No Info</option>
                <option value="1">Never</option>
                <option value="2">Former</option>
                <option value="3">Not Current</option>
                <option value="4">Sometimes</option>
                <option value="5">Everyday</option>
            </select>
            <br><br>

            <label for="body_mass_index">Body Mass Index: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="text" id="bmi" name="bmi" required step="0.01">
            <br><br>

            <label for="hblvl">HbA1c_Level: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="number" id="hl" name="hl" required step="0.01">
            <br><br>

            <label for="blood_glucose_level">Blood Glucose Level: </label>
            <br><br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="number" id="bgl" name="bgl" required>
            <br><br>

            <input type="submit" value="Predict" name="submit" id="submit">
        </form>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        function closeModal() {
            modal.style.display = "none";
        }
        window.onload = function () {
            var label = "{{ label }}";
            modal.style.display = "block";
        };
        span.onclick = closeModal;
    </script>
</body>