<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>Integrated Healthcare Prognosis</title>
</head>

<body>
    <h1>Welcome to Integrated Healthcare Prognosis</h1>

    <!-- Create buttons to navigate to different disease pages -->
    <a href="heart.html"><button class="disease-button">Heart Disease</button></a>
    <a href="lungs.html"><button class="disease-button">Lung Cancer</button></a>
    <a href="diabetes.html"><button class="disease-button">Diabetes</button></a>
    <a href="braintumor.html"><button class="disease-button">Brain Tumor</button></a>
</body>

</html>
